[Unit]
Description=Bus service to manage trash

[Service]
Type=dbus
BusName=org.trash.trashd
ExecStart=/usr/lib/trash/trashd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
