[Unit]
Description=Bus service to manage trash
Wants=udisks2.service
After=udisks2.service

[Service]
Type=dbus
BusName=org.trash.trashd
ExecStart=/usr/lib/trash/trashd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
